
.nav {
    background-color : #FF3A4E;
}

.navButton {
    background-color :#577399;
}

.navButton.settingButton
{
    left: 0;
}
.navButton.statsButton {
    margin-left: 5px;
}
.navButton.logoutButton {
    float: right;
}

.navTitle {
    display: flex;
    justify-content: space-between;
}
.navTitle .title {
    line-height: 2;
}
.title {
    margin: auto;
}