
.container {
    min-height: 900px;
}
.container .cards_container .card_container {
    height: 60% !important;
    /* min-height: 600px !important; */
}
.CardContainerWrapper .container.artistCard {
    color:red;
    overflow: hidden !important;
}
